* {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-family: 'DM Sans'
}

body {
    width: 1200px;
    background: #E5E5E5;
    margin: auto;
    margin-bottom: 95px;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    width: 96%;
    background: #E5E5E5;
    left: 0;
    top: 0;
}


.img-hs {
    background-image: url(./hs.\ \(1\).svg);
    background-repeat: no-repeat;
    width: 64px;
    height: 50px;

}


.par {
    display: flex;
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 22px;
    color: #181717;
}


.par p {
    font: 500 22px 'DM Sans';
    color: #181717;
}

.par p:not(:last-child) {
    margin-right: 29px;
}

.par p:hover {
    text-decoration: underline;
}

/*Contact*/
.contakt {
    margin-top: 90px;
}

.contakt h1 {
    width: 270px;
    height: 55px;
    font: 500 60px 'DM Sans';
    color: #181717;
    margin-top: 70px;
    margin-bottom: 20px;
}

.contakt p {
    width: 672px;
    height: 26px;
    font: 400 22px 'DM Sans';
    color: #606060;
    margin-top: 70px;
}

.block-contakt {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.contakt-input, .contakt-info {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contakt-input input {
    width: 660px;
    height: 50px;
   padding: 15 0 15 10px;
}

.button {
    width: 170px;
    height: 50px; 
    background: #1c1b1b;
    font: 700 25px 'DM Sans';
    color: #FFFFFF;
    text-align: center;
    padding: 8px 0;
}

.button:hover {
background-color: #000;
}



















footer {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    margin-right: 29px;
    font: 500 22px 'DM Sans';
    color: #181717;
}

.box-1 p {
    Font-family: DM Sans;
    color: #2429AF;
}